# Virtual environment
/.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter notebooks
.ipynb_checkpoints

# FAISS index or other model-generated artifacts
*.faiss
*.index
*.pkl
*.npz

# Output files
*.pdf
*.txt
*.json

# environment variables
.env